@charset "UTF-8";

:root {
  /* Color variations */
  --main-black: #000000;
  --main-white: #ffffff;
  --brown-1: #3c1c11;
  --brwon-2: #4e1a14;
  --brown-3: #72251d;
  --brown-4: #7b2918;
  --brown-5: #a04427;
  --gray-1: #7f9cb7;
  --gray-2: #d5e2e5;
  --gray-3: #979797;
  --blue-1: #30577b;
  --red-1: #830303;
  --green-1: #124925;

  /* typography */
  --size-gg: 2rem;
  --size-g: 1.5rem;
  --size-m: 1.25rem;
  --size-s: 1.125rem;
  --size-xs: 1rem;
  --size-nano: 14px;
}
